<div class="row">
  <div class="span12 gbox">
    <div class="gbox-content">
     <button class="btn" ng-click="">
       Back
     </button>
     <button class="btn btn-primary" ng-click="saveWarrior()">
       Save
     </button>
   </div>
 </div>
</div>
<div class="row">
  <div class="span6 gbox">
    <textarea ui-codemirror="{
    lineNumbers: true,
    theme: 'monokai',
    mode: 'redcode'
  }" ui-refresh="codeMirrorRefresh" ng-model="warrior.code"></textarea>
</div>
<div class="span6 gbox">
  <div class="gbox-content">
    <ul class="nav nav-tabs" id="sidepaneTab">
      <li><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#test" data-toggle="tab">Test</a></li>
      <li><a href="#submissions" data-toggle="tab">Submissions</a></li>
    </ul>
    <div class="tab-content" style=" height: 100%px;">
      <div class="tab-pane active" id="info">
       Name: <input type="text" name="name" ng-model="warrior.name"/>
       Public: <input type="checkbox" name="public" ng-model="warrior.public"/>
       Testable: <input type="checkbox" name="testable" ng-model="warrior.testable"/>
     </div>
     <div class="tab-pane" id="test">
       Test against:
       <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span ng-bind="testSelection.name"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        <li  ng-repeat="t in testables"><a tabindex="-1" ng-click="changeTestSelection(t)">{{t.name}}</a></li>
        </ul>
      </div>
      <button class="btn btn-warning" ng-click="submitTest()">
       Submit Test
     </button>
    </div>
    <div class="tab-pane" id="submissions">

    </div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="span12">
   Debugger
 </div>
</div>

<script>
  $(function () {
    $('#sidepaneTab a:first').tab('show');
  })
</script>