<div class="row">
  <div class="span12 gbox">
    <div class="gbox-content">
      Queue:
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span ng-bind="queueSelection.name"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li  ng-repeat="q in queues"><a tabindex="-1" ng-click="changeQueueSelection(q)">{{q.name}}</a></li>
        </ul>
      </div>

      <div style="margin-top:20px;">
        <ul class="nav nav-tabs" id="matchesTab">
          <li><a href="#submissions" data-toggle="tab">Submissions</a></li>
          <li><a href="#matches" data-toggle="tab">Matches</a></li>
          <li><a href="#scheduled" data-toggle="tab">Scheduled Matches</a></li>
        </ul>
        <div class="tab-content" style=" height: 100%px;">

          <div class="tab-pane active" id="submissions">
            <ul>
              <li ng-repeat="s in submissions">{{s.name}}</li>
            </ul>
          </div>
          <div class="tab-pane active" id="matches">
            <ul>
              <li ng-repeat="m in matches.objects">{{s.job}}</li>
            </ul>
          </div>
          <div class="tab-pane active" id="matches">
            <ul>
              <li ng-repeat="m in scheduledMatches.objects">{{s.job}}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#matchesTab a:first').tab('show');
  })
</script>