<style type="text/css">a {cursor:pointer;}</style>
<div class="row">
  <div class="span12 gbox">
    <div class="gbox-content">
      Queue:
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span ng-bind="queueSelection.name"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li  ng-repeat="q in queues"><a tabindex="-1" ng-click="changeQueueSelection(q)">{{q.name}}</a></li>
        </ul>
      </div>
      <button class="btn btn-primary" ng-click="refresh()">
        Refresh
      </button>

      <div style="margin-top:20px;">
        <ul class="nav nav-tabs" id="matchesTab">
          <li><a href="#submissions" data-toggle="tab">Submissions</a></li>
          <li><a href="#matches" data-toggle="tab">Matches</a></li>
          <li><a href="#scheduled" data-toggle="tab">Scheduled Matches</a></li>
        </ul>
        <div class="tab-content" style=" height: 100%px;">

          <div class="tab-pane active" id="submissions">
            <ul>
              <li ng-repeat="s in submissions">{{s.name}} - {{s.score}}
                <div ng-show="submissionIsOwn(s)">
                  <button class="btn btn-primary" ng-click="editWarrior(s.warriorId)">
                    Edit Warrior
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div class="tab-pane active" id="matches">
            <ul>
              <li ng-repeat="m in matches.objects">{{m.executed}}
                <button class="btn btn-primary" ng-click="viewMatch(m)">
                  View Match
                </button>
              </li>
            </ul>
            <div class="pagination pagination-mini" id="matchPagination">
              <ul>
                <li ng-class="currentMatchPage($index+1)" ng-repeat="n in [] | range:matches.total_pages"><a ng-click="reloadMatches($index+1)">{{$index+1}}</a></li>
              </ul>
            </div>

          </div>
          <div class="tab-pane active" id="scheduled">
            <ul>
              <li ng-repeat="m in scheduledMatches.objects">{{m.scheduled}}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#matchesTab a:first').tab('show');
  })
</script>