@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

body
{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1;
}

#main-view
{
  margin-top: 55px;
}


.kernkrieg-headline {
  padding: 0px 0 110px;
  text-align: center;
}
.kernkrieg-logo {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 100px;
}
.kernkrieg-logo .logo {
  background: url(/app/images/logo.png) center 0 no-repeat;
  background-size: 196px 196px;
  height: 196px;
  margin: 50px auto 30px;
  overflow: hidden;
  text-indent: -9999em;
  width: 256px;
}

.kernkrieg-logo small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
}

.gbox {
  margin-top: 10px;
  margin-bottom:10px;
}

.gbox-content {
  padding: 15px;
  background-color: rgb(240,240,240);
  border-radius: 3px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    /* height: 400px; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.ngCell
{
  overflow: visible;
}

.ngViewport
{
  overflow: visible;
}

.ngCanvas, .ngRow
{
  width: 100%;
}

form ul
{
  list-style-type: none;
  padding-left: 0px;
}

form ul li span {
  float: left;
  width: 150px;
  padding-top:10px;
}

.nav-tabs
{
  margin-bottom: 0px;
}

.tab-content
{
  background: white;
  border-left: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-radius: 0px 0px 2px 2px;
  padding: 10px;
  overflow: visible;

}

.error
{
  color: red;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 5px;
}

.CodeMirror
{
  height: 500px;
  width:100%;
  border-radius: 3px;
}

      .errors {width: .8em;}
      .error { color: #822; }
