.kernkrieg-headline {
  padding: 0px 0 110px;
  text-align: center;
}
.kernkrieg-logo {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 100px;
}
.kernkrieg-logo .logo {
  background: url(/app/images/logo.png) center 0 no-repeat;
  background-size: 196px 196px;
  height: 196px;
  margin: 50px auto 30px;
  overflow: hidden;
  text-indent: -9999em;
  width: 256px;
}

.kernkrieg-logo small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
}

.navbar-inverse .nav > li.active:first-child > a:hover,
.navbar-inverse .nav > li.active:first-child > a:focus {
padding-left: 20px;
}

.navbar-inverse .nav > li:first-child > a {
  -webkit-border-radius: 0 0 0 0px;
  -moz-border-radius: 0 0 0 0px;
  border-radius: 0 0 0 0px;
}

.navbar-inverse .nav li.dropdown > a {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}

.navbar-inverse .nav > li > a {
  font-size: 16.002px;
  /* 16px */

  border-bottom: 0px solid #2c3e50;
  border-left: 2px solid #2c3e50;
  color: #ffffff;
  padding: 16px 20px 15px;
}

.navbar-inverse .brand {
  border-bottom: 0px solid #2c3e50;
  border-right: 0px solid #2c3e50;
  color: #ffffff;
  padding: 10px 28px 11px 32px;
}

.navbar {
  margin-top: 10px;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus {
  background: none;
  color: #ffffff;
}

.gbox {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: rgb(230,230,230);
}

.gbox-content {
  padding: 10px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    /* height: 400px; */
    margin-bottom: 10px;
    margin-top: 10px;
}

.ngCanvas, .ngRow
{
  width: 100%;
}

form ul
{
  list-style-type: none;
  padding-left: 0px;
}

form ul li span {
  float: left;
  width: 150px;
  padding-top:10px;
}

.error
{
  color: red;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 5px;
}