.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.kernkrieg-headline {
  padding: 0px 0 110px;
  text-align: center;
}
.kernkrieg-logo {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 100px;
}
.kernkrieg-logo .logo {
  background: url(../img/logo.png) center 0 no-repeat;
  background-size: 128px 128px;
  height: 128px;
  margin: 0 auto 70px;
  overflow: hidden;
  text-indent: -9999em;
  width: 256px;
}

.kernkrieg-logo small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
}



